<!DOCTYPE html>
<html lang="en">

<head>

    <title>@ViewData["Title"] - Customer_Module</title>


    <link href="~/css/bootstrap.min.css" rel="stylesheet" /> @* Bootstrap v3.3.5  *@


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="~/css/components.css" rel="stylesheet" />
    <link href="~/css/style-shop.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style-responsive.css" rel="stylesheet" />
    <link href="~/css/red.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/custom-font-sizes.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>


</head>


<body>

    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container-fluid">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6">
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="shop-account.html">My Account</a></li>
                        <li class="langs-block">
                            <a href="javascript:void(0);" class="current">Ajmal Shah </a>
                            <div class="langs-block-others-wrapper">
                                <div class="langs-block-others">
                                    <a href="javascript:void(0);">French</a>
                                    <a href="javascript:void(0);">Sign out</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- END TOP BAR MENU -->
            </div>
        </div>
    </div>
    </div>
    <!-- END TOP BAR -->
    <!-- BEGIN HEADER -->
    <div class="header">
        <div class="container">
            <a class="site-logo" href="shop-index.html"><img src="~/image/logo-shop-red.png" alt="Metronic Shop UI" /></a>

            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

            <!-- BEGIN CART TODO: I need to make it dynamic -->
            <div class="top-cart-block">

                @await Component.InvokeAsync("Cart") <!-- This calls your Cart View Component -->

            </div>
            <!--END CART -->
            <!-- BEGIN NAVIGATION -->
            <div class="header-navigation">
                <ul>

                    <li class="dropdown dropdown-megamenu">
                        <a asp-controller="Home" asp-action="Index" class="">Home</a>
                    </li>


                    <li class="dropdown dropdown-megamenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">Man</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="header-navigation-content">
                                    <div class="row">
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Clothing</h4>
                                            <ul>
                                                
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Coat" })">
                                                       Coat
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Jackets" })">
                                                       Jackets
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Trousers" })">
                                                       Trousers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Leatherwear" })">
                                                       Leatherwear
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Sleepwear" })">
                                                       Sleepwear
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Swimwear" })">
                                                       Swimwear
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Security uniform" })">
                                                       Security uniform
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Sports uniform" })">
                                                       Sports uniform
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Accessories</h4>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Cap" })">
                                                       Cap
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Boxers" })">
                                                       Boxers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Gloves" })">
                                                       Gloves
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Belts" })">
                                                       Belts
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Ties" })">
                                                       Ties
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Bags" })">
                                                       Bags
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Footwear</h4>
                                            <ul>
                                               
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Boats" })">
                                                       Boats
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Socks" })">
                                                       Socks
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Sports Shoes" })">
                                                       Sports Shoes
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Slippers" })">
                                                       Slippers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Casual Shoes" })">
                                                       Casual Shoes
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Formal Shoes" })">
                                                       Formal Shoes
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-megamenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">Woman</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="header-navigation-content">
                                    <div class="row">
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Clothing</h4>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Coat" })">
                                                       Coat
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Jackets" })">
                                                       Jackets
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Trousers" })">
                                                       Trousers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Leatherwear" })">
                                                       Leatherwear
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Sleepwear" })">
                                                       Sleepwear
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Swimwear" })">
                                                       Swimwear
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Security uniform" })">
                                                       Security uniform
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Sports uniform" })">
                                                       Sports uniform
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Accessories</h4>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Cap" })">
                                                       Cap
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Bra" })">
                                                       Bra
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Panty" })">
                                                       Panty
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Gloves" })">
                                                       Gloves
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Bags" })">
                                                       Bags
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Belts" })">
                                                       Belts
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Ties" })">
                                                       Ties
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Footwear</h4>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Boats" })">
                                                       Boats
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Socks" })">
                                                       Socks
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Sports Shoes" })">
                                                       Sports Shoes
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Slippers" })">
                                                       Slippers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Casual Shoes" })">
                                                       Casual Shoes
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Formal Shoes" })">
                                                       Formal Shoes
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Heels" })">
                                                       Heels
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Sandals" })">
                                                       Sandals
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-megamenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">Children</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="header-navigation-content">
                                    <div class="row">
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Clothing</h4>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Coat" })">
                                                       Coat
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Jackets" })">
                                                       Jackets
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Trousers" })">
                                                       Trousers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Leatherwear" })">
                                                       Leatherwear
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Sleepwear" })">
                                                       Sleepwear
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Swimwear" })">
                                                       Swimwear
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Sports uniform" })">
                                                       Sports uniform
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Accessories</h4>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Cap" })">
                                                       Cap
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Gloves" })">
                                                       Gloves
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Bags" })">
                                                       Bags
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Belts" })">
                                                       Belts
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Ties" })">
                                                       Ties
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Footwear</h4>
                                            <ul>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Boats" })">
                                                       Boats
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Socks" })">
                                                       Socks
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Sports Shoes" })">
                                                       Sports Shoes
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Slippers" })">
                                                       Slippers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Casual Shoes" })">
                                                       Casual Shoes
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ProductListing", "ProductDetails", new { categoryLabel = "Formal Shoes" })">
                                                       Formal Shoes
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-megamenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">Contact Us</a>
                    </li>


                    <li class="dropdown dropdown-megamenu">
                        <div class="top-cart-block input-group">
                            <input type="text" name="query" class="form-control" placeholder="Search Category" style="height:32px;" />
                            <button class="btn btn-primary" type="button" style="height:32px;">Search</button>
                        </div>
                    </li>


                </ul>
            </div>
            <!-- END NAVIGATION -->
        </div>
    </div>
    <!-- Header END -->
    <!-- Main Content -->
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Customer_Module - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $("input[name='query']").on("keyup", function () {
                let query = $(this).val();

                if (query.length > 2) { // Start searching after 2 characters
                    $.ajax({
                        url: "/Home/SearchCategory",
                        type: "POST",
                        data: { query: query },
                        success: function (data) {
                            debugger;

                            $(".header-navigation ul li:not(:last)").hide(); // Hide all categories
                            data.forEach(category => {
                                $(".header-navigation ul li:contains(" + category + ")").show(); // Show matched categories
                            });
                        },
                        error: function () {
                            console.error("Error fetching categories.");
                        }
                    });
                } else {
                    $(".header-navigation ul li").show(); // Show all if query is empty
                }
            });
        });
    </script>

</body>

</html>
