@model CommonModule.DB.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="~/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>E-commerce</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">E-commerce</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h3 class="d-inline-block d-sm-none">@Model.Name</h3>
                            <div class="col-12">
                                <img src="data:image/png;base64,@(Convert.ToBase64String(Model.ProductImages.First().Image))"
                                     class="product-image" alt="@Model.Name" style="height:500px" />
                            </div>
                            <div class="col-12 product-image-thumbs">
                                @foreach (var img in Model.ProductImages)
                                {
                                    <div class="product-image-thumb"><img src="data:image/png;base64,@(Convert.ToBase64String(img.Image))" alt="Product Image"></div>
                                }
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <h3 class="my-3">@Model.Name</h3>
                            <p>@Model.ShortDescription</p>
                            <hr>

                            <h4>Available Colors</h4>
                            @if (ViewBag.productColor != null && ((List<ProductsViewModel.ColorViewModel>)ViewBag.productColor).Any())
                            {
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    @for (int i = 0; i < ((List<ProductsViewModel.ColorViewModel>)ViewBag.productColor).Count; i++)
                                    {
                                        var color = ((List<ProductsViewModel.ColorViewModel>)ViewBag.productColor)[i];
                                        <input type="radio" class="btn-check" name="color_option" id="color_@color.Id" value="@color.Id" autocomplete="off" @(i == 0 ? "checked" : "")>
                                        <label class="btn btn-outline-primary" style="background:#d3b7b7; color: #5e645e; border: 1px solid white; margin-right: 5px;" for="color_@color.Id">
                                            @color.Name<br>
                                            <i class="fas fa-circle fa-2x text-@color.RgbColor.ToLower()"></i>
                                        </label>
                                    }
                                </div>
                            }
                            else
                            {
                                <p class="text-danger">No colors available for this product.</p>
                            }

                            <br />
                            <br />

                            <h4>Available Sizes</h4>
                            @if (ViewBag.productSizes != null && ((List<ProductsViewModel.SizeViewModel>)ViewBag.productSizes).Any())
                            {
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    @for (int i = 0; i < ((List<ProductsViewModel.SizeViewModel>)ViewBag.productSizes).Count; i++)
                                    {
                                        var size = ((List<ProductsViewModel.SizeViewModel>)ViewBag.productSizes)[i];
                                        <input type="radio" class="btn-check" name="size_option" id="color_@size.Id" value="@size.Id" autocomplete="off" @(i == 0 ? "checked" : "")>
                                        <label class="btn btn-outline-primary" style="background:red" for="color_@size.Id">
                                            @size.Name<br>
                                            <i class="fas fa-circle fa-2x"></i>
                                        </label>
                                    }
                                </div>
                            }
                            else
                            {
                                <p class="text-danger">No size available for this product.</p>
                            }









                            <div class="bg-gray py-2 px-3 mt-4">
                                <h2 class="mb-0">
                                    $@Model.Price
                                </h2>
                                <h4 class="mt-0">
                                    <span style="font-size: 0.650em; color: #becaca;">Tax: $80.00</span>
                                </h4>
                            </div>

                            <div class="mt-4">
                                <button id="addToCartButton"
                                        class="btn btn-primary btn-lg btn-flat"
                                        type="button"
                                @(ViewBag.productColor == null || !((List<ProductsViewModel.ColorViewModel>)ViewBag.productColor).Any() ||
                                    ViewBag.productSizes == null || !((List<ProductsViewModel.SizeViewModel>)ViewBag.productSizes).Any() ? "disabled" : "")>
                                    <i class="fas fa-cart-plus fa-lg mr-2"></i> Add to Cart
                                </button>

                            </div>
                        </div>

                        <div class="mt-4 product-share">
                            <a href="#" class="text-gray">
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fab fa-twitter-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fas fa-envelope-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fas fa-rss-square fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <nav class="w-100">
                        <div class="nav nav-tabs" id="product-tab" role="tablist">
                            <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
                        </div>
                    </nav>
                    <div class="tab-content p-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                            @Model.ShortDescription
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.1
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>


    <script>
        document.getElementById("addToCartButton").addEventListener("click", function () {
            debugger;
            const productId = @Model.ProductId;
            const quantity = 1;  // default quantity
            const sizeId = $("input[name='size_option']:checked").val();
            const colorId = $("input[name='color_option']:checked").val();

            $.ajax({
                url: '@Url.Action("AddToCart", "ProductDetails")',
                type: 'POST',
                data: { productId: productId, quantity: quantity, sizeId: sizeId, colorId: colorId },
                success: function (response) {
                    if (response.success) {
                        window.location.href = '@Url.Action("ProductListing", "ProductDetails", new { categoryId = Model.CategoryId })';

                    } else {

                        alert("Could not add to cart.");
                    }
                }
            });
        });
    </script>

</body>
</html>

